/PWRCtrl/Project/Objects/*
/PWRCtrl/Project/Listings/*
/PWRCtrl/Project/.vscode/*
/PWRCtrl_inverter1/Project/Objects/*
/PWRCtrl_inverter1/Project/Listings/*
/PWRCtrl_NEWinverter/Project/Objects/*
/PWRCtrl_NEWinverter/Project/Listings/*
.vscode/*
Report/test.aux
Report/test.fdb_latexmk
Report/test.fls
Report/test.log
Report/test.synctex.gz
Report/test.toc
Report/test.out
